extends ../layout 
block content
    .container-lg
        div(class="row justify-content-center align-items-center")
            .col-4
                form(action="/users/login", method="post" class="my-form") 
                    p
                        label(for="login" class="form-label") Логин
                    p
                        input#name(type="text", name="login" class="form-control")
                    p 
                        label(for="password" class="form-label") Пароль
                    p
                        input#password(type="password", name="password" class="form-control")
                    p
                        button(type="submit" class="btn my-link-confirm my-form-link") Вход

