extends ../layout 
block content
    h1 Созданнные тесты
        h2
            ul
                each test in testList
                    li
                        a(href="/test/"+test.id, class="btn my-link-confirm") Тест ##{test.id}
                

