extends ../layout 
block content
    h2 Созданнные тесты
        ul(class="list-group")
            each test in testList
                li(class="list-group-item")
                    a(href="/test/"+test.id) Тест #{test.id}
                

