extends ../layout 
block content
    h1 Созданнные тесты
        h2
            ul(class="list-group")
                each test in testList
                    li(class="list-group-item")
                        a(href="/test/"+test.id) Тест #{test.id}
                

