extends adminLayout 
block content 
  h3 Вы действительно хотите удалить результат ##{result.id}?
  form(action="/admin/result/delete/"+result.id, method="post") 
    button(type="submit", class="btn my-link-confirm") Подтвердить