extends adminLayout 

block content
    .container-lg
        div(class="row justify-content-center align-items-center")
            .col-4 
                form(action="/admin/result/edit/"+resultInfo.id, method="post", class="my-form") 
                    p
                        label(for="examinee_login", class="form-label") Логин
                    p
                        input#examinee_login(type="text", name="examinee_login", value=resultInfo.examinee_login, class="form-control")
                    p 
                        label(for="test_id", class="form-label") Идентификатор теста
                    p
                        input#test_id(type="text", name="test_id", value=resultInfo.test_id, class="form-control")
                    p 
                        label(for="result_points", class="form-label") Количество баллов
                    p 
                        input#result_points(type="number", name="result_points", value=resultInfo.result_points, class="form-control") 
                    p
                        button(type="submit", class="btn my-link-confirm my-form-link") Редактировать результат

