extends adminLayout

block content 
  h2 
    a(href="/admin/search/users" class="btn my-link") Поиск по пользователям
    a(href="/admin/search/tests" class="btn my-link") Поиск по тестам 
    a(href="/admin/search/results" class="btn my-link") Поиск по результатам