extends adminLayout

block content 
  h3 
    a(href="/admin/search/users") Поиск по пользователям
    a(href="/admin/search/tests") Поиск по тестам 
    a(href="/admin/search/results") Поиск по результатам